<div NgxLoadingXBlur [show]="load">

<div class="container-fluid">
  <div class="p-5 mt-5 shadow rounded bg-light" style="max-width: 500px; margin: 0 auto;">
    <div *ngIf="register" class="alert alert-success" role="alert">
      Dummy account sccessfully created 😀
    </div>
    <form class="mt-4" [formGroup]="ngxLoadingXForm" (ngSubmit)="loginForm()" autocomplete="off">

      <div class="form-group">
        <label for="id">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email"
          placeholder="ngxloadingx@mail.com"
          aria-describedby="Email Address" [ngClass]="{'is-invalid': (ngxLoadingXForm.get('email').touched ||
          ngxLoadingXForm.get('email').dirty) && !ngxLoadingXForm.get('email').valid}">
        <div
          *ngIf="ngxLoadingXForm.get('email').invalid &&  ngxLoadingXForm.get('email').touched">
          <small *ngIf="ngxLoadingXForm.get('email').errors?.pattern" class="text-danger pb-2">Input your mail correctly</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">password</label>
        <input type="" id="password" formControlName="password" class="form-control" placeholder="90192930"
          aria-describedby="password" [ngClass]="{'is-invalid': (ngxLoadingXForm.get('password').touched ||
          ngxLoadingXForm.get('password').dirty) && !ngxLoadingXForm.get('password').valid}">
      </div>

      <input [disabled]="!ngxLoadingXForm.valid" class="btn btn-success w-100 mt-4" type="submit"
        value="Register">
    </form>
  </div>
</div>
</div>

<ngx-loading-x [show]="load">
</ngx-loading-x>
